@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@500&family=New+Tegomin&display=swap');

* {
	box-sizing: border-box;
}

body {
	font-family: 'Kiwi Maru', serif;
	font-family: 'New Tegomin', serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	overflow: hidden;
	margin: 0;
}
